*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    position: relative;
    margin: 0;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;
    background: 
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(/img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbarcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 20px auto;
    background-color: white;
    font-family: "Poppins", sans-serif;
    padding: 10px 25px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 0px rgba(95, 95, 95, 0.521);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.first{
    color: #5b5a5a;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.second{
    font-size: 1rem;
    color: red;
    background-color: rgba(255, 170, 170, 0.267);
    border: 2px red solid;
    padding: 2px 5px;
    border-radius: 20px;
    font-weight: 450;
}

.navbar > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
}

.navbar ul li{
    position: relative;
    cursor: pointer;
}

.navbar > ul > li::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -3px;
    background-color: #272626;
    width: 100%;
    transform: scale(0);
    transform-origin: center;
    height: 3px;
    transition: transform .5s ease-in-out;
    border-radius: 10px;
}

.navbar > ul > li:hover::before{
    transform: scale(.6);
    height: 3px;
}

.navbar > ul > li > a{
    text-decoration: none;
    color: #272626;
    font-weight: 500;
}

.humburger-menu{
    display: none;
}

/* navbar responesif */
@media (max-width : 1200px){
    .navbarcontainer{
        width: 80%;
        font-size: clamp(.9rem ,2vw ,1rem);
        cursor: pointer;
    }
}

@media (max-width: 650px){
    .humburger-menu{
        display: flex;
        font-size: 1.4rem;
    }
    .navbarcontainer{
        width: 90%;
        background: transparent;
        box-shadow: none;
    }

    .navbar > ul{
        background-color: rgb(255, 255, 255);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        right: 55px;
        top: 80px;
        padding: 20px 20px 20px 50px;
        border-radius: 10px;
        box-shadow: 5px 5px 10px 0px rgb(196, 195, 195);
    }
    .navbar ul li a{
        padding: 10px;
        transition: .4s;
    }
    .navbar ul li a:hover{
        background-color: #272626;
        border-radius: 10px;
        color: white;
    }

    .navbar ul li::before{
        content: none;
    }

}

/* conten */

/* welcome page */
.conten-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 2900px;
    width: 100%;
    gap: 50px;
    flex-direction: column;
}
.welcome-page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.welcome-page .say-welcome .wlc{
    font-size: 7rem;
    font-family: "DynaPuff", system-ui;
    color: white;
    text-shadow: 0px 0px 10px white;
}
.welcome-page .say-welcome .web{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: rgb(95, 152, 227);
    background-color: white;
    padding: 10px;
    width: 450px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px white;
}

.say-welcome p{
    max-width: 600px;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
}

.buttonWlc{
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.buttonWlc a{
    font-family: sans-serif;
    color: aliceblue;
    text-decoration: none;
}

.welcome-page .img-welcome img{
    width: 500px;
}
/* welcome page end */
/* aboutme page */
.aboutme-page{
    background: linear-gradient(50deg , rgb(79, 79, 255) 60% ,rgb(254, 254, 254) 40%);
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
    align-items: center;

}
.left-side{
    width: 80%;
    height: 60%;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgb(73, 73, 73);
}
.right-side{
    width: 95%;
    height: 60%;
    border-radius: 10px;
    background-color: #fff8f8;
    box-shadow: 5px 5px 10px rgb(73, 73, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.introduce{
    width: 90%;
    height: 200px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

}
.name{
    font-weight: 900;
    color: #322f2f;
    font-size: 3rem;
}
.role{
    font-weight: 700;
    border: 1px blue solid;
    color: rgb(8, 86, 255);
    background-color: rgba(145, 182, 255, 0.245);
    width: 170px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}
.location{
    color: #4d4747;
}
.location > i {
    color: rgb(227, 60, 60);
}
.introduce p{
    width: 600px;
    border-left: 3px solid rgb(41, 41, 253);
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
}
.learnmore{
    width: 90%;
}

.learnmore button {
    background-color: rgb(76, 76, 235);
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 10px 15px;
}

.learnmore > button > a{
    color: white;
    text-decoration: none;
}

.hoby-card{
    width: 90%;
    /* border: solid 1px darkblue; */
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: start;
}

.card{
    width: 90%;
    height: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 7px rgba(199, 198, 198, 0.644);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #083ceb;
    padding: 15px;

}

.card img{
    width: 180px;
}

.ket p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: .6rem;
    color: #888787;
}

.myskill-page{
    width: 100%;
    height: 180vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr  1fr ;
    grid-template-rows:  1fr  1fr 1fr;
    justify-items: center;
    align-items: center;
}

.skill-card{
    width: 700px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgb(203, 203, 203);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.deskripsi-skill{
    width: 350px;
    font-family: "Poppins";
    color: #6a6969;
}

.deskripsi-skill button{
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: rgb(35, 52, 248);
    border-radius: 13px;
    margin-top: 10px;

}

.deskripsi-skill > button:hover{
    background-color: #325aa5;
}

.deskripsi-skill > button > a{
    color: white;
    text-decoration: none;
}

.deskripsi-skill h2{
    font-family: "Montserrat";
    font-weight: 800;
    color: #1e2a5f;
    margin-bottom: 10px;
    font-size: 2rem;
}
.skill-card > img{
    max-width: 220px;
}

.js > img , .css > img{
    width: 160px;
}

.hastag{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    margin: 10px 0px;
    flex-wrap: wrap;
}

.html .deskripsi-skill .hastag li{
    border: solid 1px orangered;
    color: orangered;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    width: 150px;
    font-size: .8rem;
    list-style-type: none;
}
.css .deskripsi-skill .hastag li{
    border: solid 1px #2461d2;
    color: #2461d2;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    width: 150px;
    font-size: .8rem;
    list-style-type: none;
}
.js .deskripsi-skill .hastag li{
    border: solid 1px #c4c11e;
    color: #c4c11e;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    width: 150px;
    font-size: .8rem;
    list-style-type: none;
}
.bs .deskripsi-skill .hastag li{
    border: solid 1px #b419f6;
    color: #b419f6;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    width: 170px;
    font-size: .8rem;
    list-style-type: none;
}
.php .deskripsi-skill .hastag li{
    border: solid 1px #6300d4;
    color: #6300d4;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    width: 140px;
    font-size: .8rem;
    list-style-type: none;
}
.git .deskripsi-skill .hastag li{
    border: solid 1px #ef4e21;
    color: #ef4e21;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    width: 140px;
    font-size: .8rem;
    list-style-type: none;
}

/* aboutme page end */